<a href="https://colab.research.google.com/github/mm9444/Moses_Kipkoech_Kibet_week4_IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_11_Moses_Kibet_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
#First, import pandas and numpy to the library
#import pandas
#
import pandas as pd
#import numpy 
import numpy as np

In [ ]:
# second, we get a look at the dataset
#
autolib_df1 = pd.read_csv("/content/Autolib_dataset (2) (1).csv")
autolib_df1

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#Get a look at ten of the values in the dataset
#
autolib_df1.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [ ]:
#check for missing values NaN in the dataset
value_list = ['4']
autolib_df1[autolib_df1.month.isin(value_list)]

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#embark on cleaning the dataset
#first explore the dataset and select the suitable dataframe
#
autolib_df1=pd.DataFrame(autolib_df1, columns=['Bluecar counter', 'City', 'day', 'hour','month', 'year'])
autolib_df1

      Bluecar counter                City  day  hour  month  year
0                   0               Paris    8    11      4  2018
1                   6               Paris    6     7      4  2018
2                   3          Le Bourget    3    20      4  2018
3                   3               Paris    4     4      4  2018
4                   3               Paris    8    17      4  2018
...               ...                 ...  ...   ...    ...   ...
4995                2            Colombes    6    11      4  2018
4996                4               Paris    4    16      4  2018
4997                1               Paris    1     7      4  2018
4998                2  Fontenay-Sous-Bois    4    17      4  2018
4999                4               Paris    8    10      4  2018

[5000 rows x 6 columns]

In [ ]:
#Checking if there is any missing value across each column
#
autolib_df1.isnull().any()

Bluecar counter    False
City               False
day                False
hour               False
month              False
year               False
dtype: bool

In [ ]:
#checking for duplicates and dropping them where available
#
df_non_duplicates= autolib_df1.drop_duplicates
df_non_duplicates

<bound method DataFrame.drop_duplicates of       Bluecar counter                City  day  hour  month  year
0                   0               Paris    8    11      4  2018
1                   6               Paris    6     7      4  2018
2                   3          Le Bourget    3    20      4  2018
3                   3               Paris    4     4      4  2018
4                   3               Paris    8    17      4  2018
...               ...                 ...  ...   ...    ...   ...
4995                2            Colombes    6    11      4  2018
4996                4               Paris    4    16      4  2018
4997                1               Paris    1     7      4  2018
4998                2  Fontenay-Sous-Bois    4    17      4  2018
4999                4               Paris    8    10      4  2018

[5000 rows x 6 columns]>

In [ ]:
print(autolib_df1)

      Bluecar counter                City  day  hour  month  year
0                   0               Paris    8    11      4  2018
1                   6               Paris    6     7      4  2018
2                   3          Le Bourget    3    20      4  2018
3                   3               Paris    4     4      4  2018
4                   3               Paris    8    17      4  2018
...               ...                 ...  ...   ...    ...   ...
4995                2            Colombes    6    11      4  2018
4996                4               Paris    4    16      4  2018
4997                1               Paris    1     7      4  2018
4998                2  Fontenay-Sous-Bois    4    17      4  2018
4999                4               Paris    8    10      4  2018

[5000 rows x 6 columns]

In [ ]:
#most popular hour for picking up a shared electric car(Bluecar)
#in April 2018
# select only observations in 2018
# df[~df.year.isin(value_list)]
value_list = ['2018']
autolib_df1[autolib_df1.year.isin(value_list)]

      Bluecar counter                City  day  hour  month  year
0                   0               Paris    8    11      4  2018
1                   6               Paris    6     7      4  2018
2                   3          Le Bourget    3    20      4  2018
3                   3               Paris    4     4      4  2018
4                   3               Paris    8    17      4  2018
...               ...                 ...  ...   ...    ...   ...
4995                2            Colombes    6    11      4  2018
4996                4               Paris    4    16      4  2018
4997                1               Paris    1     7      4  2018
4998                2  Fontenay-Sous-Bois    4    17      4  2018
4999                4               Paris    8    10      4  2018

[5000 rows x 6 columns]

In [ ]:
# now find the missing NaN values in column "month" and fill in with 0
# df.fillna(0)
#
autolib_df1.fillna(0)

      Bluecar counter                City  day  hour  month  year
0                   0               Paris    8    11      4  2018
1                   6               Paris    6     7      4  2018
2                   3          Le Bourget    3    20      4  2018
3                   3               Paris    4     4      4  2018
4                   3               Paris    8    17      4  2018
...               ...                 ...  ...   ...    ...   ...
4995                2            Colombes    6    11      4  2018
4996                4               Paris    4    16      4  2018
4997                1               Paris    1     7      4  2018
4998                2  Fontenay-Sous-Bois    4    17      4  2018
4999                4               Paris    8    10      4  2018

[5000 rows x 6 columns]

In [ ]:
# filter out for cars only in paris
#
value_list = ['Paris']
autolib_df1[autolib_df1.City.isin(value_list)]

      Bluecar counter   City  day  hour  month  year
0                   0  Paris    8    11      4  2018
1                   6  Paris    6     7      4  2018
3                   3  Paris    4     4      4  2018
4                   3  Paris    8    17      4  2018
5                   0  Paris    6     7      4  2018
...               ...    ...  ...   ...    ...   ...
4992                0  Paris    9    23      4  2018
4994                0  Paris    1    20      4  2018
4996                4  Paris    4    16      4  2018
4997                1  Paris    1     7      4  2018
4999                4  Paris    8    10      4  2018

[2816 rows x 6 columns]

In [ ]:
#answer the question
#most popular hour for picking up a shared electric car(Bluecar)
#in April 2018
#df['preTestScore'].mode()
autolib_df1.hour.mode()

0    21
dtype: int64

In [ ]:
#Bonus questions-#1#What is the most popular hour for returning cars?
#
autolib_df2 = pd.read_csv("/content/Autolib_dataset (2) (1).csv")
autolib_df2

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#create a dataframe of column(cars and hour )
#
autolib_df2=pd.DataFrame(autolib_df2, columns=['Cars', 'hour'])
autolib_df2

      Cars  hour
0        0    11
1        6     7
2        3    20
3        3     4
4        3    17
...    ...   ...
4995     2    11
4996     4    16
4997     1     7
4998     2    17
4999     4    10

[5000 rows x 2 columns]

In [ ]:
#now find the modal hour
#
autolib_df2.hour.mode()

0    21
dtype: int64

In [ ]:
#Bonus 2# most popular station at the most
#popular picking hour
#
autolib_df4 = pd.read_csv("/content/Autolib_dataset (2) (1).csv")
autolib_df4

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#
autolib_df4 = autolib_df4.rename(columns= {'Rental status': 'Rental'})
print(autolib_df4)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
autolib_df4 = autolib_df4.rename(columns= {'Station type': 'Station'})
print(autolib_df4)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
autolib_df4

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# filter rental status 'operational'
#value_list = ['2018']
#autolib_df1[autolib_df1.year.isin(value_list)]
value_list = ['operational']
autolib_df4[autolib_df4.Rental.isin(value_list)]

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[4618 rows x 25 columns]

In [ ]:
value_list = ['station']
autolib_df4[autolib_df4.Station.isin(value_list)]

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[4615 rows x 25 columns]

In [ ]:
# create a dataframe
#
autolib_df4=pd.DataFrame(autolib_df4, columns=['Address', 'hour'])
autolib_df4

                                 Address  hour
0                    2 Avenue de Suffren    11
1              145 Rue Raymond Losserand     7
2       2 Avenue John Fitzgerald Kennedy    20
3                 51 Rue EugÃ¨ne OudinÃ©     4
4     6 avenue de la Porte de Champerret    17
...                                  ...   ...
4995                 8 avenue MÃ©nelotte    11
4996                   37 rue de Dantzig    16
4997                      142 rue du Bac     7
4998         2 avenue du Val de Fontenay    17
4999                 5 Rue Henry Brisson    10

[5000 rows x 2 columns]

In [ ]:
# filter hour 21
#
value_list = ['21']
autolib_df4[autolib_df4.hour.isin(value_list)]

                            Address  hour
13            34 avenue Jean Moulin    21
19             11 avenue RenÃ© Coty    21
25           182 Boulevard Voltaire    21
30    24 rue du Pont Louis-Philippe    21
41                 68 avenue Mozart    21
...                             ...   ...
4911           98 avenue Albert 1er    21
4913       52 boulevard de Charonne    21
4920        280 avenue Jean JaurÃ¨s    21
4961           69 boulevard Pasteur    21
4990     47 boulevard de l'HÃ´pital    21

[237 rows x 2 columns]

In [ ]:
# get the amswer-most popular station
#
autolib_df4.Address.mode()

0    8 Avenue de la Porte de Montrouge
dtype: object

In [ ]:
# Bonus question#3#
#
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
#Overall?
autolib_df5 = pd.read_csv("/content/Autolib_dataset (2) (1).csv")
autolib_df5

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#Rename columns postal code to postal
autolib_df6 = autolib_df5.rename(columns= {'Postal code': 'Postal'})
print(autolib_df6)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#create a dataframe made of columns Bluecar counter and postal
autolib_df6 = pd.DataFrame(autolib_df6, columns=['Bluecar counter', 'Postal'])
autolib_df6

      Bluecar counter  Postal
0                   0   75015
1                   6   75014
2                   3   93350
3                   3   75013
4                   3   75017
...               ...     ...
4995                2   92700
4996                4   75015
4997                1   75007
4998                2   94120
4999                4   75018

[5000 rows x 2 columns]

In [ ]:
#answer the question by getting the mode of the dataframe
autolib_df6.Postal.mode()

0    75015
dtype: int64

In [ ]:
#Explore the previous dataframe
autolib_df5

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# Does the most popular station belong to that code
#
autolib_df7 = pd.read_csv("/content/Autolib_dataset (2) (1).csv")
autolib_df7

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#create a dataframe  from the columns: address, postalcode
autolib_df8 = pd.DataFrame(autolib_df7, columns=['Address', 'Postal code'])
autolib_df8

                                 Address  Postal code
0                    2 Avenue de Suffren        75015
1              145 Rue Raymond Losserand        75014
2       2 Avenue John Fitzgerald Kennedy        93350
3                 51 Rue EugÃ¨ne OudinÃ©        75013
4     6 avenue de la Porte de Champerret        75017
...                                  ...          ...
4995                 8 avenue MÃ©nelotte        92700
4996                   37 rue de Dantzig        75015
4997                      142 rue du Bac        75007
4998         2 avenue du Val de Fontenay        94120
4999                 5 Rue Henry Brisson        75018

[5000 rows x 2 columns]

In [ ]:
#Filter * Avenue de la porte montrouge
select_address = autolib_df8.loc[autolib_df8['Address'] == '8 Avenue de la Porte de Montrouge']
print(select_address)

                                Address  Postal code
122   8 Avenue de la Porte de Montrouge        75014
194   8 Avenue de la Porte de Montrouge        75014
360   8 Avenue de la Porte de Montrouge        75014
1010  8 Avenue de la Porte de Montrouge        75014
1282  8 Avenue de la Porte de Montrouge        75014
1527  8 Avenue de la Porte de Montrouge        75014
2112  8 Avenue de la Porte de Montrouge        75014
2179  8 Avenue de la Porte de Montrouge        75014
2991  8 Avenue de la Porte de Montrouge        75014
3307  8 Avenue de la Porte de Montrouge        75014
3392  8 Avenue de la Porte de Montrouge        75014
3558  8 Avenue de la Porte de Montrouge        75014
4490  8 Avenue de la Porte de Montrouge        75014

Answer:The most preferred station does not use the postal code 75015

In [49]:
#Bonus question 4# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?At the most popular picking hour?
#
autolib_df1 = pd.DataFrame(autolib_df7, columns=['Address', 'Postal code', 'Bluecar counter', 'hour', 'Rental status'])
autolib_df1

                                 Address  Postal code  ...  hour  Rental status
0                    2 Avenue de Suffren        75015  ...    11    operational
1              145 Rue Raymond Losserand        75014  ...     7    operational
2       2 Avenue John Fitzgerald Kennedy        93350  ...    20    operational
3                 51 Rue EugÃ¨ne OudinÃ©        75013  ...     4    operational
4     6 avenue de la Porte de Champerret        75017  ...    17    operational
...                                  ...          ...  ...   ...            ...
4995                 8 avenue MÃ©nelotte        92700  ...    11    operational
4996                   37 rue de Dantzig        75015  ...    16    operational
4997                      142 rue du Bac        75007  ...     7    operational
4998         2 avenue du Val de Fontenay        94120  ...    17    operational
4999                 5 Rue Henry Brisson        75018  ...    10    operational

[5000 rows x 5 columns]

In [50]:
#Rename postal code to postal
autolib_df1 = autolib_df1.rename(columns= {'Postal code': 'Postal'})
print(autolib_df1)

                                 Address  Postal  ...  hour  Rental status
0                    2 Avenue de Suffren   75015  ...    11    operational
1              145 Rue Raymond Losserand   75014  ...     7    operational
2       2 Avenue John Fitzgerald Kennedy   93350  ...    20    operational
3                 51 Rue EugÃ¨ne OudinÃ©   75013  ...     4    operational
4     6 avenue de la Porte de Champerret   75017  ...    17    operational
...                                  ...     ...  ...   ...            ...
4995                 8 avenue MÃ©nelotte   92700  ...    11    operational
4996                   37 rue de Dantzig   75015  ...    16    operational
4997                      142 rue du Bac   75007  ...     7    operational
4998         2 avenue du Val de Fontenay   94120  ...    17    operational
4999                 5 Rue Henry Brisson   75018  ...    10    operational

[5000 rows x 5 columns]

In [51]:
#rename column bluecar vounter to blue
autolib_df1 = autolib_df1.rename(columns= {'Bluecar counter': 'Blue'})
print(autolib_df1)

                                 Address  Postal  Blue  hour Rental status
0                    2 Avenue de Suffren   75015     0    11   operational
1              145 Rue Raymond Losserand   75014     6     7   operational
2       2 Avenue John Fitzgerald Kennedy   93350     3    20   operational
3                 51 Rue EugÃ¨ne OudinÃ©   75013     3     4   operational
4     6 avenue de la Porte de Champerret   75017     3    17   operational
...                                  ...     ...   ...   ...           ...
4995                 8 avenue MÃ©nelotte   92700     2    11   operational
4996                   37 rue de Dantzig   75015     4    16   operational
4997                      142 rue du Bac   75007     1     7   operational
4998         2 avenue du Val de Fontenay   94120     2    17   operational
4999                 5 Rue Henry Brisson   75018     4    10   operational

[5000 rows x 5 columns]

In [52]:
#Rename column Rental status to Rental
autolib_df1 = autolib_df1.rename(columns= {'Rental status': 'Rental'})
print(autolib_df1)

                                 Address  Postal  Blue  hour       Rental
0                    2 Avenue de Suffren   75015     0    11  operational
1              145 Rue Raymond Losserand   75014     6     7  operational
2       2 Avenue John Fitzgerald Kennedy   93350     3    20  operational
3                 51 Rue EugÃ¨ne OudinÃ©   75013     3     4  operational
4     6 avenue de la Porte de Champerret   75017     3    17  operational
...                                  ...     ...   ...   ...          ...
4995                 8 avenue MÃ©nelotte   92700     2    11  operational
4996                   37 rue de Dantzig   75015     4    16  operational
4997                      142 rue du Bac   75007     1     7  operational
4998         2 avenue du Val de Fontenay   94120     2    17  operational
4999                 5 Rue Henry Brisson   75018     4    10  operational

[5000 rows x 5 columns]

In [53]:
#filter out the value 'operational' in Rental column
value_list = ['operational']
autolib_df1[autolib_df1.Rental.isin(value_list)]

                                 Address  Postal  Blue  hour       Rental
0                    2 Avenue de Suffren   75015     0    11  operational
1              145 Rue Raymond Losserand   75014     6     7  operational
2       2 Avenue John Fitzgerald Kennedy   93350     3    20  operational
3                 51 Rue EugÃ¨ne OudinÃ©   75013     3     4  operational
4     6 avenue de la Porte de Champerret   75017     3    17  operational
...                                  ...     ...   ...   ...          ...
4995                 8 avenue MÃ©nelotte   92700     2    11  operational
4996                   37 rue de Dantzig   75015     4    16  operational
4997                      142 rue du Bac   75007     1     7  operational
4998         2 avenue du Val de Fontenay   94120     2    17  operational
4999                 5 Rue Henry Brisson   75018     4    10  operational

[4618 rows x 5 columns]

In [54]:
# popuar postal code
#
autolib_df1.Postal.mode()

0    75015
dtype: int64

In [75]:
#filter out the most popular hour
value_list = ['21']
autolib_df1[autolib_df1.hour.isin(value_list)]

                            Address  Postal  Blue  hour       Rental
13            34 avenue Jean Moulin   75014     0    21  operational
19             11 avenue RenÃ© Coty   75014     4    21  operational
25           182 Boulevard Voltaire   75011     0    21  operational
30    24 rue du Pont Louis-Philippe   75004     0    21  operational
41                 68 avenue Mozart   75016     2    21  operational
...                             ...     ...   ...   ...          ...
4911           98 avenue Albert 1er   92500     1    21  operational
4913       52 boulevard de Charonne   75020     4    21  operational
4920        280 avenue Jean JaurÃ¨s   92290     0    21       broken
4961           69 boulevard Pasteur   75015     0    21       broken
4990     47 boulevard de l'HÃ´pital   75013     0    21  operational

[237 rows x 5 columns]

In [76]:
# answer the question
select_address = autolib_df1.loc[autolib_df1['Address'] == '8 Avenue de la Porte de Montrouge']
print(select_address)

                                Address  Postal  Blue  hour       Rental
122   8 Avenue de la Porte de Montrouge   75014     3    19  operational
194   8 Avenue de la Porte de Montrouge   75014     1    16  operational
360   8 Avenue de la Porte de Montrouge   75014     0    22  operational
1010  8 Avenue de la Porte de Montrouge   75014     5     2  operational
1282  8 Avenue de la Porte de Montrouge   75014     4    10  operational
1527  8 Avenue de la Porte de Montrouge   75014     3    15  operational
2112  8 Avenue de la Porte de Montrouge   75014     5    11  operational
2179  8 Avenue de la Porte de Montrouge   75014     1    19  operational
2991  8 Avenue de la Porte de Montrouge   75014     0    14  operational
3307  8 Avenue de la Porte de Montrouge   75014     3    12  operational
3392  8 Avenue de la Porte de Montrouge   75014     3    21  operational
3558  8 Avenue de la Porte de Montrouge   75014     5     3  operational
4490  8 Avenue de la Porte de Montrouge   75014     6     0  operational

The most popular station does not belong to the post code at the most popular hour

In [58]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
autolib_df7

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [60]:
# rename utilib, utilib 1.4, postal code 
autolib_df10 = autolib_df7.rename(columns= {'Rental status': 'Rental', 'Postal code': 'Postal', 'Utilib counter':'Utilib', 'Utilib 1.4 counter':'Utilib14' })
print(autolib_df10)

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [61]:
# Explore the renamed dataset
autolib_df10

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [63]:
# create a dataframe using address, postal, utilib, hour , utilib14, rental
autolib_df10 = pd.DataFrame(autolib_df10, columns=['Address', 'Postal', 'Utilib', 'hour', 'Utilib14', 'Rental'])
autolib_df10

                                 Address  Postal  ...  Utilib14       Rental
0                    2 Avenue de Suffren   75015  ...         0  operational
1              145 Rue Raymond Losserand   75014  ...         0  operational
2       2 Avenue John Fitzgerald Kennedy   93350  ...         2  operational
3                 51 Rue EugÃ¨ne OudinÃ©   75013  ...         0  operational
4     6 avenue de la Porte de Champerret   75017  ...         0  operational
...                                  ...     ...  ...       ...          ...
4995                 8 avenue MÃ©nelotte   92700  ...         0  operational
4996                   37 rue de Dantzig   75015  ...         0  operational
4997                      142 rue du Bac   75007  ...         0  operational
4998         2 avenue du Val de Fontenay   94120  ...         0  operational
4999                 5 Rue Henry Brisson   75018  ...         0  operational

[5000 rows x 6 columns]

In [64]:
# filter out the value operational
value_list = ['operational']
autolib_df10[autolib_df10.Rental.isin(value_list)]

                                 Address  Postal  ...  Utilib14       Rental
0                    2 Avenue de Suffren   75015  ...         0  operational
1              145 Rue Raymond Losserand   75014  ...         0  operational
2       2 Avenue John Fitzgerald Kennedy   93350  ...         2  operational
3                 51 Rue EugÃ¨ne OudinÃ©   75013  ...         0  operational
4     6 avenue de la Porte de Champerret   75017  ...         0  operational
...                                  ...     ...  ...       ...          ...
4995                 8 avenue MÃ©nelotte   92700  ...         0  operational
4996                   37 rue de Dantzig   75015  ...         0  operational
4997                      142 rue du Bac   75007  ...         0  operational
4998         2 avenue du Val de Fontenay   94120  ...         0  operational
4999                 5 Rue Henry Brisson   75018  ...         0  operational

[4618 rows x 6 columns]

In [65]:
#get the modal postal code-the most
#appearing postal code
autolib_df10.Postal.mode()

0    75015
dtype: int64

There is no change in the postal code when Utilib is tested

In [67]:
#part b# What postal code is the most popular for picking up utilib, utilib cars? Does the most popular station belong to that postal code? At the most popular picking hour(21)
#postal code remains 75015
# now filter out the most popular hour(21)
value_list = ['21']
autolib_df10[autolib_df10.hour.isin(value_list)]

                            Address  Postal  ...  Utilib14       Rental
13            34 avenue Jean Moulin   75014  ...         0  operational
19             11 avenue RenÃ© Coty   75014  ...         2  operational
25           182 Boulevard Voltaire   75011  ...         0  operational
30    24 rue du Pont Louis-Philippe   75004  ...         0  operational
41                 68 avenue Mozart   75016  ...         0  operational
...                             ...     ...  ...       ...          ...
4911           98 avenue Albert 1er   92500  ...         0  operational
4913       52 boulevard de Charonne   75020  ...         0  operational
4920        280 avenue Jean JaurÃ¨s   92290  ...         0       broken
4961           69 boulevard Pasteur   75015  ...         0       broken
4990     47 boulevard de l'HÃ´pital   75013  ...         0  operational

[237 rows x 6 columns]

In [74]:
# fiter by station address 8 Avenue de la Porte de Montrouge
select_address = autolib_df10.loc[autolib_df10['Address'] == '8 Avenue de la Porte de Montrouge']
print(select_address)

                                Address  Postal  ...  Utilib14       Rental
122   8 Avenue de la Porte de Montrouge   75014  ...         1  operational
194   8 Avenue de la Porte de Montrouge   75014  ...         0  operational
360   8 Avenue de la Porte de Montrouge   75014  ...         1  operational
1010  8 Avenue de la Porte de Montrouge   75014  ...         0  operational
1282  8 Avenue de la Porte de Montrouge   75014  ...         1  operational
1527  8 Avenue de la Porte de Montrouge   75014  ...         1  operational
2112  8 Avenue de la Porte de Montrouge   75014  ...         0  operational
2179  8 Avenue de la Porte de Montrouge   75014  ...         0  operational
2991  8 Avenue de la Porte de Montrouge   75014  ...         0  operational
3307  8 Avenue de la Porte de Montrouge   75014  ...         1  operational
3392  8 Avenue de la Porte de Montrouge   75014  ...         1  operational
3558  8 Avenue de la Porte de Montrouge   75014  ...         1  operational
4490  8 Avenue de la Porte de Montrouge   75014  ...         0  operational

[13 rows x 6 columns]

The postal code 75015 does not belong to the most popular station even at the most popular hour